
 .hidden{
     display: none;
 }
 
 #container{
 width:560px;
 height:500px;
 background-color:pink;
 margin:auto;
 margin-top:10px;
 margin-bottom:10px;
 }
 
 
 
 .heading{
 font-size:25px;
 color:Blue;
 text-align:center;
 padding:10px;
 font-weight:bold;
 }
 #name_form{
 clear:both;
 padding:15px 0 10px 0px;
 }
 

 #pwd_form{
 clear:both;
 padding:15px 0 10px 0px;
 }
 

 #email_form{
 clear:both;
 padding:15px 0 10px 0px;
 }
 
 #mobile_form{
 clear:both;
 padding:15px 0 10px 0px;
 }
 
 #gender_form
 {
 clear:both;
 padding:15px 0 10px 0px;
 
 }
 
 #submit_button
 {
     margin-top: 10px;
 }
 
 input
 {
	 padding : 5px;
	 margin-left: 15px;
 }
 
 .input_text{
 width:400px;
 padding:5px;
 margin-left: 25px;
 margin-top: 15px;
 border-radius : 5px;
 }
 
  .input_mobile{
 width:432px;
 padding:5px;
 margin-left: 18px;
 margin-top: 10px;
 border-radius : 5px;
  }
  
 
  
  
  
 label
 {
	 color: blue;
	 font-weight: bold;
 }
 
 